

h2 {border-bottom: none;
}

html, body {
  font-family: Helvetica Neue; font-size: 85%; width: 100%; 
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  padding-bottom: 0px;
}

/* within-list formating */
ul li {
  width: 100%; 
  margin: 0px; 
  padding: 0em; 
  line-height: 20px; 
  padding-left: 1%; 
  padding-bottom: 0px; 
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: -50px;
}

ul{
  margin-bottom: 0px;
}

html, body {
  margin:0px;
  height:100%;
  width: 100%;
}


.sidebar-navigation a {
    color: #C0C0C0;
}
a:hover {
    color: #8FC4B7;
}
div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: #8FC4B7;
}
a {
    color: #C0C0C0;
}

p{
  margin-bottom: 0px;
}
main ul ul, main ol ul, main ul ol {
    margin-bottom: 0em;
}

details>summary {
    color: #C0C0C0;
    list-style-type: '';
    list-style: none;
}
details[open] > summary {
    list-style-type: '';
    color: #8FC4B7;
}
summary:hover{
  color: #8FC4B7;
  transition: 0.2s;
}









